/* Footer */
footer {
    margin-top: 120px;
    background-color: #fafafa;
    padding: 20px 0;
    text-align: center;
}

footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .sns i {
    font-size: 28px;
    margin: 15px 30px;
    color: #222;
}

footer .sns i:last-child {
    font-size: 38px;
}

.service-list ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

.service-list ul li {
    border-right: 1px solid #ddd;
    padding: 0 10px;
    font-size: 13px;
    color: #5a5a5a;
    cursor: pointer;
}

.service-list ul li:last-child {
    border: none;
}

.footer-p {
    font-size: 11px;
    color: #bbb;
}

.service-tab i.active {
    transform: rotate(-180deg);
}

.service-list.active {
    display: block;
}

.service-tab {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    position: relative;
    display: none;
    cursor: pointer;
}

.service-tab p {
    text-align: left;
    color: #222;
}

.service-tab i {
    float: right;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 14px;
    transition: 0.4s;
}

@media (max-width: 994px) {
    .service-list {
        display: none;
    }

    .service-tab {
        display: block;
    }

    footer .sns i {
        font-size: 20px;
        margin: 10px 20px;
        margin-bottom: 20px;
    }

    footer .sns i:last-child {
        font-size: 24px;
    }

    .service-list {
        text-align: left;
        padding: 0 20px;
        padding-bottom: 10px;
    }

    .service-list p {
        color: #2c2c2c;
        font-size: 10px;
        margin-left: 10px;
    }

    .service-list p span {
        display: block;
    }

    .service-list ul {
        justify-content: flex-start;
        padding: 0;
    }

    .service-list .footer-p:last-child {
        display: none;
    }

    .service-list ul li {
        font-size: 11px;
    }
}